.DS_Store

# all data files
secrets

.coverage
src/rag/.ipynb_checkpoints/

src/datapipeline/data/
src/rag/input
src/rag/output
/dataset
/input
/output
pulumi-plugins/

/csv

**/chunk_processed.csv/
**/chunk_skipped.csv/
**/embed_deci_stored.csv/
**/embed_regul_stored.csv/
**/chunk_corrupted.csv/

# all pycache files
**/__pycache__/
**/*.pyc/
