.DS_Store

# all data files
secrets

src/datapipeline/data/
src/rag/input
src/rag/output
/dataset
/input
/output
pulumi-plugins/

chunk_processed.csv
chunk_skipped.csv
embed_deci_stored.csv
embed_regul_stored.csv
chunk_corrupted.csv

src/rag/chunk_processed.csv
src/rag/chunk_skipped.csv
src/rag/embed_deci_stored.csv
src/rag/embed_regul_stored.csv
src/rag/chunk_corrupted.csv

# all pycache files
**/__pycache__/
