services:
    rag:
        image: rag-img
        container_name: rag
        privileged: true
        ports:
            - 9000:9000
        volumes:
            - .:/app
            - ../secrets:/app/secrets
        devices:
            - "/dev/fuse:/dev/fuse"
        environment:
            ROOT_DIR: "/app"
            DATASET_DIR: "/app/input"
            OUTPUT_DIR: "/app/output"
            GITHUB_ACTIONS: ${GITHUB_ACTIONS}
            GCP_SERVICE_ACCOUNT_JSON: ${GCP_SERVICE_ACCOUNT_JSON:-}
            GCP_PROJECT: "f1penaltytool"
            GCP_BUCKET: "f1penaltytooldocs"
            GCP_ZONE: "us-central1-a"
            MOUNT_POINT: "/mnt/gcs_data"
            CHROMADB_HOST: ac215-chromadb
            CHROMADB_PORT: 8000
            UVICORN_PORT: 9000
        depends_on:
            - chromadb

    chromadb:
        image: chromadb/chroma:latest
        container_name: ac215-chromadb
        ports:
            - 8000:8000
        volumes:
            - ./docker-volumes/chromadb:/chroma/chroma
        environment:
            - IS_PERSISTENT=TRUE
            - ANONYMIZED_TELEMETRY=FALSE
            - CHROMA_CORS_ALLOW_ORIGINS=["*"] # This is not recommended for production environments.

    frontend:
        image: f1-frontend
        container_name: frontend
        ports:
            - "3001:3000"
        volumes:
            - ./src/frontend/frontend-template:/app
        environment:
            - NEXT_PUBLIC_BASE_API_URL=http://localhost:9000
        entrypoint: [ "/bin/sh", "-c" ]
        command: [ "npm install && npm run dev" ]
        depends_on:
            - rag
