services:
    ac215-rag:
        image: ac215-rag
        container_name: ac215-rag
        privileged: true
        volumes:
            - ../secrets:/secrets
            - .:/app
            - ../Dataset:/app/input
            - ../Output:/app/output
        devices:
            - "/dev/fuse:/dev/fuse"
        environment:
            GOOGLE_APPLICATION_CREDENTIALS: $GOOGLE_APPLICATION_CREDENTIALS
            GCP_PROJECT: $GCP_PROJECT
            GCP_BUCKET: $GCP_BUCKET
            MOUNT_POINT: "/mnt/gcs_data"
            CHROMADB_HOST: ac215-rag-chromadb
            CHROMADB_PORT: 8000
        depends_on:
            - chromadb

    chromadb:
        image: chromadb/chroma:latest
        container_name: ac215-rag-chromadb
        ports:
            - 8000:8000
        volumes:
            - ./docker-volumes/chromadb:/chroma/chroma
        environment:
            - IS_PERSISTENT=TRUE
            - ANONYMIZED_TELEMETRY=FALSE
            - CHROMA_CORS_ALLOW_ORIGINS=["*"] # This is not recommended for production environments.
