services:
    rag:
        image: rag-img
        container_name: rag
        privileged: true
        ports:
            - 9000:9000
        volumes:
            - .:/app
        devices:
            - "/dev/fuse:/dev/fuse"
        environment:
            DATASET_DIR: "/app/src/rag/input"
            OUTPUT_DIR: "/app/src/rag/output"
            GOOGLE_APPLICATION_CREDENTIALS: "/app/secrets/ac215-f1penaltytool.json"
            GCP_PROJECT: "ac215-f1penaltytool"
            GCP_BUCKET: "f1penaltydocs"
            GCP_ZONE: "us-central1-a"
            MOUNT_POINT: "/mnt/gcs_data"
            CHROMADB_HOST: ac215-chromadb
            CHROMADB_PORT: 8000
            LLM_MODEL_NAME: "projects/ac215-f1penaltytool/locations/us-central1/endpoints/547845962190553088"
        depends_on:
            - chromadb

    chromadb:
        image: chromadb/chroma:latest
        container_name: ac215-chromadb
        ports:
            - 8000:8000
        volumes:
            - ./docker-volumes/chromadb:/chroma/chroma
        environment:
            - IS_PERSISTENT=TRUE
            - ANONYMIZED_TELEMETRY=FALSE
            - CHROMA_CORS_ALLOW_ORIGINS=["*"] # This is not recommended for production environments.
